<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />

    <title>Umah Makan</title>
  </head>
  <body>
    <!-- <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Umah Makan</h1>
      </div>
      <a id="menu" class="header__menu">☰</a>
    </header> -->
    <div class="hero">
      <nav id="drawer" class="nav">
        <h1 class="nav__title">Umah <span>Makan</span></h1>
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item"><a href="https://github.com/kadekaryasatya">About Us</a></li>
        </ul>

        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>

      <div class="hero__inner">
        <h1 class="hero__title">Selamat Datang di Umah <span>Makan</span></h1>
        <p class="hero__tagline">Kumpulan Restaurant terbaik di Indonesia</p>
      </div>
    </div>

    <main>
      <section class="content">
        <div class="restaurant">
          <h1 class="restaurant__label">Daftar Restaurant</h1>

          <div class="posts">
            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Gambar Restaurant 1" />

              <div class="post-item__content">
                <h1 class="post-item__title">Bring Your Phone Cafe</h1>
                <span class="post-item__rating">4.6</span>
              </div>
              <p class="post-item__city">Lokasi : Medan</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Gambar Restaurant 1" />

              <div class="post-item__content">
                <h1 class="post-item__title">Run The Gun</h1>
                <span class="post-item__rating">4.6</span>
              </div>
              <p class="post-item__city">Lokasi : Bali</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Gambar Restaurant 1" />

              <div class="post-item__content">
                <h1 class="post-item__title">Pangsit Express</h1>
                <span class="post-item__rating">4.8</span>
              </div>
              <p class="post-item__city">Lokasi : Ternate</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Gambar Restaurant 1" />

              <div class="post-item__content">
                <h1 class="post-item__title">Ducky Duck</h1>
                <span class="post-item__rating">4.7</span>
              </div>
              <p class="post-item__city">Lokasi : Malang</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Gambar Restaurant 1" />

              <div class="post-item__content">
                <h1 class="post-item__title">Kafein</h1>
                <span class="post-item__rating">3.8</span>
              </div>
              <p class="post-item__city">Lokasi : Bali</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Gambar Restaurant 1" />

              <div class="post-item__content">
                <h1 class="post-item__title">Makan Mudah</h1>
                <span class="post-item__rating">4.6</span>
              </div>
              <p class="post-item__city">Lokasi : Malang</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>
          </div>
        </div>
      </section>
    </main>

    <div class="footer">
      <p>2022 &copy; Dek Arya | Umah <span>Makan</span></p>
    </div>

    <!-- <h1>Umah Makan</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
  </body>
</html>
