<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />

    <title>Umah Makan</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip to Content</a>

    <div class="hero">
      <nav id="drawer" class="nav">
        <h1 class="nav__title">Umah <span>Makan</span></h1>
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item"><a href="https://github.com/kadekaryasatya">About Us</a></li>
        </ul>

        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>

      <div class="hero__inner">
        <h1 class="hero__title">Selamat Datang di Umah <span>Makan</span></h1>
        <p class="hero__tagline">Kumpulan Restaurant terbaik di Indonesia</p>
      </div>
    </div>

    <main id="maincontent">
      <section class="content">
        <div class="restaurant">
          <h1 class="restaurant__label">Daftar Restaurant</h1>

          <div class="posts">
            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Gambar Restaurant 1" />

              <div class="post-item__content">
                <h1 class="post-item__title">Bring Your Phone</h1>
                <span class="post-item__rating">4.6</span>
              </div>
              <p class="post-item__city">Lokasi : Medan</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Gambar Restaurant 2" />

              <div class="post-item__content">
                <h1 class="post-item__title">Run The Gun</h1>
                <span class="post-item__rating">4.6</span>
              </div>
              <p class="post-item__city">Lokasi : Bali</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Gambar Restaurant 3" />

              <div class="post-item__content">
                <h1 class="post-item__title">Pangsit Express</h1>
                <span class="post-item__rating">4.8</span>
              </div>
              <p class="post-item__city">Lokasi : Ternate</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Gambar Restaurant 4" />

              <div class="post-item__content">
                <h1 class="post-item__title">Ducky Duck</h1>
                <span class="post-item__rating">4.7</span>
              </div>
              <p class="post-item__city">Lokasi : Malang</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Gambar Restaurant 5" />

              <div class="post-item__content">
                <h1 class="post-item__title">Kafein</h1>
                <span class="post-item__rating">3.8</span>
              </div>
              <p class="post-item__city">Lokasi : Bali</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Gambar Restaurant 6" />

              <div class="post-item__content">
                <h1 class="post-item__title">Makan Mudah</h1>
                <span class="post-item__rating">4.6</span>
              </div>
              <p class="post-item__city">Lokasi : Malang</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Gambar Restaurant 7" />

              <div class="post-item__content">
                <h1 class="post-item__title">Saya Suka</h1>
                <span class="post-item__rating">3.6</span>
              </div>
              <p class="post-item__city">Lokasi : Surabaya</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gambar Restaurant 8" />

              <div class="post-item__content">
                <h1 class="post-item__title">Gigitan Cepat</h1>
                <span class="post-item__rating">4</span>
              </div>
              <p class="post-item__city">Lokasi : Aceh</p>

              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum
                excepturi, fugit, minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora tenetur totam vero.
              </p>
            </article>
          </div>
        </div>
      </section>
    </main>

    <div class="footer">
      <p>2022 &copy; Dek Arya | Umah <span>Makan</span></p>
    </div>
  </body>
</html>
