<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="./app.webmanifest" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" type="text/css" />

    <title>Umah Makan</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip to Content</a>

    <div class="hero">
      <nav id="drawer" class="nav">
        <h1 class="nav__title">Umah <span>Makan</span></h1>
        <ul class="nav__list">
          <li class="nav__item"><a href="#/home">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item"><a href="https://github.com/kadekaryasatya">About Us</a></li>
        </ul>
        <div class="hamburger" id="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>

      <div class="hero__inner">
        <h1 class="hero__title">Selamat Datang di Umah <span>Makan</span></h1>
        <p class="hero__tagline">Kumpulan Restaurant terbaik di Indonesia</p>
      </div>
    </div>

    <main id="mainContent">
      <!-- <section class="content">
        <div class="restaurant">
          <h1 class="restaurant__label">Daftar Restaurant</h1> -->

      <div id="maincontent"></div>
      <!-- </div>
      </section> -->
    </main>

    <div class="footer">
      <p>2022 &copy; Dek Arya | Umah <span>Makan</span></p>
    </div>
  </body>
</html>
