* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #0f1113;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

/* 
    Hero
*/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../public/images/heros/hero-image_4.jpg);
  width: 100%;
  height: 1000px;
  background-size: 100% 100%;
  background-position: center;
}

.hero__inner {
  padding-top: 250px;
  text-align: center;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 40px;
}

.hero__title span {
  color: #ffc23c;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 300;
}

/* 
    Navbar
*/

.nav {
  background-color: #0000004f;
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%;
}

.nav__title {
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav__title span {
  color: #ffc23c;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
  line-height: 24px;
  padding: 10px 25px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  min-width: 44px;
  min-height: 44px;
  padding: 13px 16px;
}

.nav a:hover {
  text-decoration: underline;
  color: rgb(222, 145, 20);
}

/* 
   hamburger
*/

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/*
 * main
 */

main {
  color: white;
  width: 100%;
  margin: 0 auto;
}

/*
 * content
 */

.content {
  padding: 32px;
}

/*
 * restaurant
 */

.restaurant {
  width: 100%;
}

.restaurant__label {
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  padding: 20px;
  margin-bottom: 100px;
}

/*
 * post
 */

.posts {
  margin: 32px auto auto;
  text-align: left;
}

/*
 * post item
 */

.post-item {
  margin-bottom: 16px;
  background-color: #5d5818;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.post-item__header {
  position: relative;
}

.post-item__thumbnail {
  width: 100%;
  height: 200px;
}

.post-item__rating {
  position: absolute;
  padding: 8px;
  right: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.post-item__content {
  padding: 10px 10px 20px 15px;
}

.post-item__title {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.post-item__content a:hover {
  color: rgb(222, 145, 20);
}

.post-item__city {
  color: #d1d1ca;
}

.post-item__description {
  padding: 16px 16px;
}

/*
 * detail Restaurant
 */

.detail {
  font-size: 13px;
  width: 100%;
  margin: 32px auto auto;
  justify-content: center;
}

.detail__title {
  margin-top: 20px;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  width: 500;
}

.detail__image {
  width: 100%;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.detail__header-info {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.detail__item {
  padding: 20px;
}

.detail__info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.detail__categories {
  display: flex;
}

.detail-drink {
  padding-left: 20px;
}

.title-review {
  margin-top: 20px;
  margin-bottom: 10px;
}

.review-name {
  font-weight: bold;
}
.review-name img {
  width: 44px;
}

.review-body {
  margin-bottom: 20px;
}

.review-date {
  font-size: 12px;
  color: #8c8686fe;
}

/*
 * footer
 */
.footer {
  color: rgb(170, 166, 166);
  width: 100%;
  position: absolute;
  border-top: 1px solid;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  background-color: #101010;
  font-size: 15px;
}

/*
 * skip to content
 */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #5d5818;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/*
  Back
*/

.back {
  color: white;
  padding: 5px;
  min-width: 44px;
  min-height: 44px;
}

.back:hover {
  color: rgb(222, 145, 20);
}

.back-button {
  text-align: right;
}

.empty {
  padding-top: 20px;
}
/*
  Loader
*/
.loader {
  border: 16px solid #5d5818; /* Light grey */
  border-top: 16px solid #d7d7cf; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
 * responsive
 */

@media screen and (max-width: 770px) {
  main {
    max-width: 600px;
  }

  .nav__list {
    display: flex;
    position: absolute;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: rgb(26, 24, 24);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    width: 500;
  }

  .nav__list.active {
    left: 0;
  }

  .nav__item {
    border-bottom: 1px solid;
    border-color: #ffc23c;
  }

  .nav a {
    display: block;
    padding-top: 10px;
    min-width: 44px;
    min-height: 44px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .bar {
    background-color: white;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hero__title {
    font-size: 25px;
  }

  .hero__tagline {
    font-size: 15px;
  }

  .restaurant__label {
    font-size: 25px;
  }

  .detail__header-info {
    font-size: 10px;
  }
}

@media screen and (min-width: 600px) {
  main {
    max-width: 900px;
  }

  .content {
    padding-left: 15%;
    padding-right: 15%;
  }
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  main {
    max-width: 1200px;
  }

  .content {
    padding-left: 15%;
    padding-right: 15%;
  }
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1500px;
  }

  .content {
    padding-left: 15%;
    padding-right: 15%;
  }
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
